 $bg-color-dark: hsl(207, 26%, 17%); //Dark Mode Background)
 $text-color-dark: hsl(0, 0%, 100%); //dark mode text and light mode elements
 $input-color-dark:hsl(209, 23%, 22%);  //Dark Mode Elements


  $bg-color-light: hsl(0, 0%, 98%); //Light Mode Background
  $text-color-light: hsl(200, 15%, 8%); //Light Mode Text
  $input-color-light: hsl(0, 21%, 91%); //Light Mode Input}
